<div id="annotation-view-container">
  <a href="#" id="close-annotation">&times;</a>
  <h1 id="annotation-title">Annotate A Location</h1>

  <div id="inner-annotation-container">

  </div>
</div>

<%= render partial: "annotation/annotate_location_template" %>
