<script id="annotate-location-template" type="x-tmpl-mustache">
  <h2 id="lat-long">ID: {{id}}.....{{lat}}, {{long}}</h2>
  <div id="annotate-image-container">
    <img src={{image}} id="annotate-image" class="annotatable">
  </div>
</script>
