<script id="annotate-location-template" type="x-tmpl-mustache">
  <div id="annotate-image-container" data-location-id="{{id}}">
    <img src={{image}} id="annotate-image" class="annotatable">
  </div>
</script>
<!-- <h2 id="lat-long">ID: {{id}}.....{{lat}}, {{long}}</h2> -->
