#annotation-view-container{
  display: none;
  position: fixed; top: 0; left: 0;
  overflow-y: scroll;
  background-color: rgba(0,122,255,0.94);
  width: 100vw; height: 100vh;

  &.active{ display: block; }

  // #close-annotation{
  //   position: absolute; top: 15px; right: 15px;
  //   color: white; text-decoration: none; font-size: 30px; line-height: 30px;
  // }

  #close-annotation{
    width: 75px; position: absolute; top: 8px; right: 8px;
    padding: 8px; border-radius: 6px;
    font-size: 28px; color: black; text-decoration: none;
    #ca-text {text-align: center; display: block;}
    .keyboard {width: 45%; display: inline-block; vertical-align: middle;}
    .key {width: 40%; display: inline-block;vertical-align: middle}
    &:hover, &.hover-state {background-color: rgba(255,255,255,0.38);}
  }

  #annotation-title{
    margin: 30px 0; text-align: center; color: white;
  }

  // #lat-long{ text-align: center; color: white; }

  #inner-annotation-container{
    margin: 0 auto; width: 800px;

    #annotate-location-data{
      display: inline-block; width: 200px; vertical-align: top; padding-left: 10px;

      .location-title{ font-weight: bold; font-size: 20px;}
      .location-item{}
    }
    #annotate-image-container{
      width: 580px; display: inline-block; vertical-align: top;
      #annotate-image{ width: 100%; display: inline-block;}
      .annotate-instructions {text-align: center; margin: 0 0 8px 0; color: white;}
    }

  }
}
