#street-view-container{
  position: relative;
  #close-street-view{
    position: absolute; top: 8px; right: 8px;
    font-size: 28px; color: black; text-decoration: none;
  }

  .carousel-arrow{
    position: absolute; top: 40%; color: black;
    text-decoration: none; font-size: 40px;
    width: 100px; padding: 8px; border-radius: 6px;
    span.arrow {font-size: 40px; display: block; text-align: center; width: 12px; margin: 0 auto;}
    span.text {font-size: 11px; display: block; text-align: center;}
    .keyboard {width: 45%; display: inline-block; vertical-align: middle;}
    .key {width: 40%; display: inline-block;vertical-align: middle}
    &:hover, &.hover-state {background-color: rgba(0,122,255,0.38);}
  }
  #carousel-left { left: 15px;}
  #carousel-right { right: 15px;}

  #street-view-argo-logo {
    position: absolute; bottom: 15px; right: 15px; height: 50px;
  }

  #street-view-inner{
    height: 100%; width: 660px; margin: 0 auto;
    position: relative;
    #street-and-location-data{
      width: 175px; position: absolute;
      left: 0; top: 25px;
      #launch-annotate{
        margin-top: 58px; padding: 10px; border-radius: 6px; display: block; text-decoration: none;
        .anno-text {
          text-align: center; display: block;
          background-color: #007aff; padding: 10px 5px; display: block; text-align: center;
          width: 80%; margin: 0 auto 14px auto; color: white; text-decoration: none;
        }
        &:hover, &.hover-state {
          opacity: .9;
          .anno-text { opacity: .9;}
        }
        #anno-key-imgs{
          width: 100%; text-align: center;
          .anno-keyboard {width: 40%; display: inline-block; vertical-align: middle;}
          .anno-key {width: 40%; display: inline-block; vertical-align: middle;}
        }
        &:hover, &.hover-state{ background-color: rgba(0,122,255,0.38); }
      }

      #street-name-title { font-weight: bold; margin: 0 0 5px 0;}
      #street-name { margin: 0 0 25px 0;}

      #location-title { font-weight: bold; margin: 0 0 5px 0;}
      #location-item { margin: 0 0 5px 0; font-size: 14px;}

    }

    #street-carousel-container{
      position: absolute; width: 475px; left: 190px; top: 15px;
    }


    .street-location-carousel{
      position:relative;
      img {
        position:absolute;
        left:0;
        -webkit-transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity:0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        width: 466.5px; height: 350px;
      }
      img.active {
        opacity:1;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=1);
      }
    }
  }
}
