<script id="street-info-template" type="x-tmpl-mustache">
  <p id="street-name-title">Street:</p>
  <p id="street-name">{{street_name}}</p>
  <p class="location-item">Average Bumpiness: {{average_bumpiness}}</p>
</script>

<script id="location-info-template" type="x-tmpl-mustache">
  <p id="location-title">Location:</p>
  <p class="location-item">Bumpiness: {{bumpiness}}</p>
  <p class="location-item">Latitude: {{lat}}</p>
  <p class="location-item">Longitude: {{long}}</p>
</script>

<script id="street-carousel-template" type="x-tmpl-mustache">
  <div class="street-location-carousel" data-current="{{initialLocationId}}">
    {{#initialLocation}}
      <img src="{{image}}" data-id="{{id}}" class="location-img active">
    {{/initialLocation}}
    {{#locations}}
      <img src="{{image}}" data-id="{{id}}" class="location-img">
    {{/locations}}
  </div>
</script>
