<div id="map-container">

  <div id="map-canvas"></div>

  <div id="street-view-container">
    <div id="street-view-inner">
      <div id="street-view-inner-top">
        <a href="#" id="close-street-view">&times;</a>
        <div id="street-data"></div>
        <div id="location-data"></div>
      </div>

      <div id="street-view-inner-bottom">
        <a href="#" id="carousel-left">L</a>
        <a href="#" id="carousel-right">R</a>

        <div id="street-carousel-container">

        </div>

        <a href="#" id="launch-annotate">Annotate</a>

      </div>

    </div>
  </div>

</div>

<%= render partial: "mustache_templates" %>
