<div id="map-container">
  <div id="map-canvas"></div>
  <%= render partial: "map/map_overlay" %>

  <div id="street-view-container">
    <div id="street-view-inner">
      <div id="street-view-inner-top">
        <a href="#" id="close-street-view">&times;</a>
        <div id="street-data"></div>
        <div id="location-data"></div>
      </div>

      <div id="street-view-inner-bottom">
        <a href="#" class="carousel-arrow" id="carousel-left">&lsaquo;</a>
        <a href="#" class="carousel-arrow" id="carousel-right">&rsaquo;</a>

        <div id="street-carousel-container"></div>

        <a href="#" id="launch-annotate">Annotate</a>
        <%= image_tag "argo_alt.png", id: "street-view-argo-logo" %>
      </div>

    </div>
  </div>

</div>

<%= render partial: "mustache_templates" %>
<%= render partial: "annotation/annotation_view" %>
